<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudShare</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="upload">
        <div class="drop-zone">
            <div class="icon-container">
                <img src="/img/upload.png" draggable="false">
            </div>
            <input type="file" id="fileInput">
            <div class="title">
                Drop your Files or, <span class="browseBtn">browse</span>
            </div>
        </div>
        <div class="progress-container">
            <div class="bg-progress"></div>

            <div class="inner-container">
                <div class="title">Uploading...</div>
                <div class="percent-container">
                    <span id="percent">0</span>%
                </div>
                <div class="progress-bar"></div>
            </div>
        </div>
        <div class="sharing-container">
            <p class="expire">Link expires in 24 hrs</p>
            <div class="input-container">
                <input type="text" id="fileURL" readonly value="gfhjdskagfhjsdalfhajk">
                <img src="/img/copy.svg" alt="copy icon">
            </div>
        </div>
    </div>
    <script src="/index.js"></script>
</body>

</html>